{% extends 'layout/base.html' %}

{%load static%}
{% block content %}
    {%if user,is_authenticated %}
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">{{ forloop.counter }}</th>
                    <th scope="col">{{ item.product }}</th>
                    <th scope="col">{{ item.quantity }}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in basket %}

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
{% endblock %}